<?xml version='1.0' encoding='windows-1252' ?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">

<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="xxgam.oracle.apps.xbol.tm.RatesM.InsertRate.server" >
   <DesignTime>
      <Attr Name="_ejbPackage" Value="false" />
      <Attr Name="_version" Value="10.1.3.41.57" />
   </DesignTime>
   <Containee
      Name="InsertRateAM"
      FullName="xxgam.oracle.apps.xbol.tm.RatesM.InsertRate.server.InsertRateAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="InsertRateVO"
      FullName="xxgam.oracle.apps.xbol.tm.RatesM.InsertRate.server.InsertRateVO"
      ObjectType="ViewObject" >
   </Containee>
</JboPackage>
