<?xml version='1.0' encoding='windows-1252' ?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">

<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="xxgam.oracle.apps.xbol.tm.extracost.server" >
   <DesignTime>
      <Attr Name="_ejbPackage" Value="false" />
      <Attr Name="_version" Value="10.1.3.41.57" />
   </DesignTime>
   <Containee
      Name="DetailVO"
      FullName="xxgam.oracle.apps.xbol.tm.extracost.server.DetailVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="ExtraCost"
      FullName="xxgam.oracle.apps.xbol.tm.extracost.server.ExtraCost"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="ExtraCostVO"
      FullName="xxgam.oracle.apps.xbol.tm.extracost.server.ExtraCostVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="MasterDetailVL"
      FullName="xxgam.oracle.apps.xbol.tm.extracost.server.MasterDetailVL"
      ObjectType="ViewLink" >
   </Containee>
   <Containee
      Name="MasterVO"
      FullName="xxgam.oracle.apps.xbol.tm.extracost.server.MasterVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="TotalsVO"
      FullName="xxgam.oracle.apps.xbol.tm.extracost.server.TotalsVO"
      ObjectType="ViewObject" >
   </Containee>
</JboPackage>
